@model MusicWebApp.Models.Artist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.artist_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Albums)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Genre name</th>
                    <th>Album name</th>
                </tr>
                @foreach (var item in Model.Albums)  // -> не работи
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre.genre_name);
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.album_name);
                    </td>
                </tr>
        }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.artist_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
