@model MusicWebApp.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.album_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.album_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.album_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.album_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.album_recording_company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.album_recording_company)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.album_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
