@model IEnumerable<MusicWebApp.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.album_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_recording_company)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.album_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.album_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.album_recording_company)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.album_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.album_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.album_id })
        </td>
    </tr>
}

</table>
